<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>training3exercise1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BF4228FC1D371CAB008DA16D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF4229101D371CAB008DA16D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF42291B1D371CAB008DA16D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
